<!-- <nav>
  <a href="/profile">Your Profile</a>
  <a href="/profile/createMusician">Create Musician</a>
  <a href="/profile/musicianList">Musician List</a>
  <a href="/profile/createBand">create Band</a>
</nav> -->

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/profile/createMusician">Create Musician</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/profile/musicianList">Musician List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/profile/createBand">Create Band</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/logout">Logout</a>
      </li>
    </ul>
  </div>
</div>
</nav>

<h1>Band List</h1>
<% allBands.forEach((band) => { %>
<h2>Name: <%- band.name %></h2>

<h3>Members:</h3>
<% band.members.forEach((element) => { %>
<h4><%- element.name %> : <%- element.role %></h4>

<% }) %>

<h3>Genre: <%- band.genre %></h3>
<h3>Date Founded: <%- band.dateFounded %></h3>
<a href="/profile/delete/band/<%- band._id %>"><button>Delete</button></a>
<a href="/profile/editBand/<%- band._id %>"><button>Edit</button></a>
<% }) %>
