<body>
  <h1>Create Band</h1>
  <form action="/profile/createBand" method="post">
    <label for="name">Name:</label>
    <input
      type="text"
      id="name"
      name="name"
      style="margin-bottom: 10px"
    /><br />

    <label for="members">Members:</label>
    <select id="members" Name="members" style="margin-bottom: 10px">
      <% allMusicians.forEach(element => { %>
      <option value="<%-element._id%>"><%-element.name%></option>
      <% }); %>
    </select>

    <select id="members" Name="members" style="margin-bottom: 10px">
      <% allMusicians.forEach(element => { %>
      <option value="<%-element._id%>"><%-element.name%></option>
      <% }); %>
    </select>

    <select id="members" Name="members" style="margin-bottom: 10px">
      <% allMusicians.forEach(element => { %>
      <option value="<%-element._id%>"><%-element.name%></option>
      <% }); %>
    </select>

    <select id="members" Name="members" style="margin-bottom: 10px">
      <% allMusicians.forEach(element => { %>
      <option value="<%-element._id%>"><%-element.name%></option>
      <% }); %>
    </select>
    <br />

    <label for="genre">Band Genre:</label>
    <input
      type="text"
      id="genre"
      name="genre"
      style="margin-bottom: 10px"
    /><br />

    <label for="dateFounded">Date Founded:</label>
    <input
      type="text"
      id="dateFounded"
      name="dateFounded"
      placeholder="DD.MM.YYYY"
      style="margin-bottom: 10px"
    /><br />

    <button type="submit">Create Band!</button>
  </form>
</body>
