<!-- <nav>
  <a href="/profile">Your Profile</a>
  <a href="/profile/createMusician">Create Musician</a>
  <a href="/profile/createBand">Create Band</a>
  <a href="/profile/bandList">Band List</a>
</nav> -->

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/profile/createMusician">Create Musician</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/profile/createBand">Create Band</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/profile/bandList">Band List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/logout">Logout</a>
      </li>
    </ul>
  </div>
</div>
</nav>

<div class="grid gap-3">
<h1>Musician List</h1>
<% allMusicians.forEach(element => { %>
<img src="<%-element.image%>" />
<h5 class="p-2 g-col-6">Name: <%- element.name %></h4>
<p>Role: <%- element.role %></p>
<p>Years of Experience: <%- element.yearsOfExperience %></p>
<p>Favourite Genre: <%- element.favouriteGenre %></p>
<p>Favourite Band: <%- element.favouriteBand %></p>
<a href="/profile/editMusician/<%- element._id %>"><button class="btn btn-outline-light">Edit</button></a>
<a href="/profile/delete/<%- element._id %>"><button class="btn btn-outline-light">Delete</button></a>
<% }); %>
</div>
